<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.snappfoodauth" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SnappfoodAuth</name>
    <description>Snappfood JWT Authentication App</description>
    <author email="you@example.com" href="https://example.com">Your Name</author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <access origin="*" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="android-compileSdkVersion" value="34" />
    <plugin name="cordova-plugin-inappbrowser" spec="^5.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.2" />
    <plugin name="cordova-plugin-androidx" />
    <plugin name="cordova-plugin-androidx-adapter" />
</widget>
